@using Microsoft.AspNetCore.Identity
@using Onyx17.Areas.Identity.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        @* <a class="nav-link text-light fs-4" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @User.Identity?.Name!</a>  *@
        <a class="nav-link text-light fs-4" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Профил</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-light fs-4 me-3">Изход</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light fs-4 me-3" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light fs-4 me-3" asp-area="Identity" asp-page="/Account/Login">Вход</a>
    </li>
}
</ul>
