@model Onyx17.ViewModels.ChapterViewModel;
@{
    ViewData["Title"] = "Създай";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Chapter/ChapterStyles.css" />
</head>
<body>
    <h1 class="mt-5 text-light mb-5">Създаване на раздел</h1>
    <div class="chapterContainer">
        <form method="post" asp-action="Create" asp-controller="Chapter" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Name" class="form-label text-light fs-3">Име</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label text-light fs-3">Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label asp-for="PdfFile" class="form-label text-light fs-3">PDF файл</label>
                <input asp-for="PdfFile" class="form-control" type="file" accept="application/pdf"/>
            </div>
            <button type="submit" class="btn btn-lg btn-info" asp-route-languageId="@ViewBag.languageId">
               Създай
           </button>
            <a class="btn btn-lg btn-light" asp-action="Index" asp-controller="Chapter" 
                asp-route-languageId="@ViewBag.languageId">
                Назад
            </a>
        </form>
    </div>
</body>