@model Onyx17.Models.Chapter;
@{
    ViewData["Title"] = "Статия";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Chapter/ChapterStyles.css" />
</head>
<body>
    <h1 class="mt-5 text-light mb-5">Статия</h1>
        <div> 
            <iframe src="@Url.Action("GetPdf", "Chapter", new { chapterId = Model.Id })"
                   width="100%" height="600px" style="border: 10px solid white;"> 
            </iframe>
        </div>
</body>