.imageContentContainer {
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}
.imageContainer {
    display: flex;
    justify-content: center;
}
.imageHome{
    width: 300px;
    height: auto;
}
.onyxHome{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 6rem;
}
.onyxHomeContainer {
    display: flex;
    justify-content: center;
}
.onyxDescriptionContainer {
    text-indent: 50px;
    border: 5px solid black;
    padding: 20px;
    border-radius: 20px;
}
.onyxDescription {
    font-weight: bold;
    font-size: 22px;
    color: white;
}
.functionalitiesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 220px;
    gap: 30px;
}
.functionality {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #1A1A1A;
}
.functionalityImageContainer {
    background-color: white;
    width: 130px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
}

/* Documentation */
.documentationContainer {
    display: grid;
    justify-content: center;
}
.documentationContentContainer {
    position: relative;
    background-color: #70B6B6;
    width: 187vh;
    z-index: 0;
}
.topLeftImage {
    position: absolute;
    top: -200px;
    left: -70px;
    z-index: -1;
}
.circlesContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.imageRound{
    height: 200px;
}
.documentationHeader{
    font-size: 80px;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}
.headerStyle {
    z-index: -1;
    background-color: #024343;
    height: 30px;
    width: 35%;
    margin-top: -23px;
    border-radius: 30px;
}
.documentationImageDescription{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.documentationImage {
    border: 10px solid white;
    border-radius: 20px;
}
.documentationDescriptionContainer{
    display:flex;
    flex-direction: column;
}
.documentationDescription {
    background-color: #024343;
    border: 5px solid white;
    display: grid;
    align-self: start;
    padding: 20px;
    color: white;
    text-indent: 50px;
    border-radius: 20px;
}
.documentationDescriptionText{
    font-size: 24px;
}
.documentationPattern {
    display: flex;
    align-self: flex-end;
    height: 350px;
}
.quizStyle {
    z-index: -1;
    background-color: #70B6B6;
    height: 30px;
    width: 350px;
    margin-top: -23px;
    border-radius: 30px;
}
.quizContainer {
    display: grid;
    justify-content: center;
}
.quizContentContainer {
    background-color: #016E6E;
    position: relative;
    width: 187vh;
    z-index: 0;
}
.quizHeader {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: start;
}
.shapeImage{
    height: 200px;
}
.quizImageDescription {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 40px;
}
.quizImageContainer{
    grid-row: 1 / -1;
}
.quizImage {
    border: 10px solid white;
    border-radius: 20px;
}
.quizDescriptionText{
    color: white;
    text-indent: 50px;
    font-size: 24px;
}
.quizPattern {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    justify-content: flex-start;
}
.quizPatternImage {
    width: 200px;
    height: 200px;
}
.polygonWrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
}
.polygonContainer {
    position: absolute;
    bottom: 0;
    right: -400px;
    z-index: -3;
}
