body {
    margin: 0;
    width: 100%;
    background: linear-gradient(45deg, #42AFAF, #000) !important;
    background-size: 100% 100%;
}
.questionsContainer{
    margin-bottom: 10vh;
}
.questionsForm {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.questionSubmitButton{
    display: flex;
    align-items: flex-end;
}
.questionInput{
    height: 50px;
    font-size: 22px;
}
.questionContentContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.questionTextContainer {
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.questionHr {
    height: 10px;
    background-color: #42AFAF;
    opacity: 1;
    border-radius: 13px;
    border: none;
}
.questionOptions{
    width: 50px;
}
.questionTrash, .questionEdit:hover {
    cursor: pointer;
}
.questionOptionsContainer {
    border: 3px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}
.modal-body, .modal-footer {
    background-color: #016E6E;
}

/* Answers */
.answerForm {
    width: 67.5%;
}
.answerInput {
    border: none;
    border-right: 10px solid #016E6E;
    border-radius: 10px;
    height: 45px;
}
.answerTextContainer {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    padding: 8px;
    border-radius: 10px;
    justify-content: space-between;
}
.answerContentContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.answerReaction {
    width: 40px;
}
.answerReaction:hover{
    opacity: 0.7;
    cursor: pointer;
}
.answerOption:hover {
    cursor: pointer;
    outline: 2px solid white;
    border-radius: 10px;
}
.answerOptionImage {
    width: 40px;
}
.answerDeleteContainer {
    display: flex;
    flex-basis: 100%;
    background-color: #720e0e;
    justify-content: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.answerDeleteContainer:hover {
    background-color: #a00e0e;
    cursor: pointer;
}
.answerDelete{
    text-decoration: none;
    padding: 5px;
}
.answerModal .modal-footer {
    border-radius: 0;
}
.formEditAnswer {
    background-color: #720e0e;
}
.buttonReaction {
    border: none;
    background-color: transparent;
    width: 50px;
    height: min-content;
}