@{
    ViewData["Title"] = "Въпроси";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Question/QuestionStyles.css" />
</head>
<body>
    <h1 class="mt-5 fs-1 text-light">Въпроси</h1>
</body>