@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<head>
    <link href="~/css/Manage/Layout.css" rel="stylesheet"/>
</head>
<body>
    <h1 class="mt-5">Настройки на профила</h1>

    <div>
        <hr />
        <div class="row">
            <div class="col-md-3 navMenu p-2 m-0">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</body>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
