@{
    ViewData["Title"] = "Начало";
}

<head>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/Home/HomeStyles.css" />
</head>
<body>
    <div class="container bg-black m-0 p-0 imageContentContainer">
        <div class="imageContainer">
            <img src="Images/Logo.png" class="img-fluid imageHome"/>
        </div>
    </div>
    <header class="mt-5 mb-5 onyxHomeContainer">
        <h1 class="onyxHome">Оникс</h1>
    </header>
    <section class="onyxDescriptionContainer container">
        <p class="lead onyxDescription">
            Оникс е уеб приложение, насочено към потребители, които искат да усвоят основите на 
            програмирането чрез теория, тестове и участие в дискусии. Приложението съчетава структурата на учебна
            система с активна потребителска общност и актуална технологична информация.
        </p>
    </section>
    <section class="functionalitiesContainer mt-5 mb-5">
        <div class="functionality">
            <div class="functionalityImageContainer mt-3">
                <img src="Images/quill-drawing-a-line.png" class="img-fluid functionalityImage" />
            </div>
            <p class="lead text-light mt-3">Документация</p>
        </div>
        <div class="functionality">
            <div class="functionalityImageContainer mt-3">
                <img src="Images/wrong.png" class="img-fluid functionalityImage" />
            </div>
            <p class="lead text-light mt-3">Тестове</p>
        </div>
        <div class="functionality">
            <div class="functionalityImageContainer mt-3">
                <img src="Images/chat.png" class="img-fluid functionalityImage" />
            </div>
            <p class="lead text-light mt-3">Форум</p>
        </div>
    </section>
    <section class="documentationContainer">
        <div class="documentationContentContainer">
            <img src="Images/rectangle.png" class="img-fluid topLeftImage" />
        </div>
        
    </section>
</body>

