@{
    ViewData["Title"] = "Начало";
}

<head>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/Home/HomeStyles.css" />
</head>
<body>
    <div class="container bg-black m-0 p-0 imageContentContainer">
        <div class="imageContainer">
            <img src="Images/Logo.png" class="img-fluid imageHome"/>
        </div>
    </div>
    <header class="mt-5 mb-5 onyxHomeContainer">
        <h1 class="onyxHome">Оникс</h1>
    </header>
    <section class="onyxDescriptionContainer container">
        <p class="lead onyxDescription">
            Оникс е уеб приложение, насочено към потребители, които искат да усвоят основите на 
            програмирането чрез теория, тестове и участие в дискусии. Приложението съчетава структурата на учебна
            система с активна потребителска общност и актуална технологична информация.
        </p>
    </section>
    <section class="functionalitiesContainer mt-5 mb-5">
        <a href="#documentation">
            <div class="functionality">
                <div class="functionalityImageContainer mt-3">
                    <img src="Images/quill-drawing-a-line.png" class="img-fluid functionalityImage" />
                </div>
                <p class="lead fs-3 text-light mt-3 functionalityText">Документация</p>
            </div>
        </a>
        <a href="#quiz">
            <div class="functionality">
                <div class="functionalityImageContainer mt-3">
                    <img src="Images/wrong.png" class="img-fluid functionalityImage" />
                </div>
                <p class="lead fs-3 text-light mt-3 functionalityText">Тестове</p>
            </div>
        </a>
        <a href="#forum">
            <div class="functionality">
                <div class="functionalityImageContainer mt-3">
                    <img src="Images/chat.png" class="img-fluid functionalityImage" />
                </div>
                <p class="lead fs-3 text-light mt-3 functionalityText">Форум</p>
            </div>
        </a>
    </section>
    <section class="documentationContainer">
        <div class="documentationContentContainer" id="documentation">
            <img src="Images/rectangle.png" class="img-fluid topLeftImage" />
            <div class="circlesContainer mt-5 mb-5">
                <img src="~/Images/round.png" class="img-fluid imageRound mb-5" />
                <h2 class="me-5 documentationHeader">Документация</h2>
                <div class="headerStyle me-3"></div>
            </div>
            <section class="documentationImageDescription mb-5">
                <div class="documentationImageContainer ms-5">
                    <img src="~/Images/Documentation.png" class="img-fluid documentationImage" />
                </div>
                <div class="documentationDescriptionContainer me-5">
                    <div class="documentationDescription mb-5">
                        <p class="lead documentationDescriptionText">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <div class="documentationPattern">
                        <img src="~/Images/pattern.png" class="img-fluid" />
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="quizContainer">
        <div class="quizContentContainer" id="quiz">
            <header class="ms-4 quizHeader mb-5">
                <div class="mb-5">
                    <h2 class="ms-5 mt-5 documentationHeader">Тестове</h2>
                    <div class="ms-4 quizStyle"></div>
                </div>
                <div class="quizImageHeader mt-3">
                    <img src="~/Images/abstract-shape.png" class="img-fluid shapeImage"/>
                </div>
            </header>
            <section class="quizImageDescription mb-5">
                <div class="quizImageContainer ms-5">
                    <img src="~/Images/Quiz.png" class="img-fluid quizImage" />
                </div>
                <div class="quizDescriptionContainer me-5 mt-5">
                    <div class="quizDescription mb-5">
                        <p class="lead quizDescriptionText">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    
                </div>
                <div class="quizPattern">
                    <img src="~/Images/patternLines.png" class="img-fluid quizPatternImage" />
                    <img src="~/Images/patternWavesBlack.png" class="img-fluid quizPatternImage" />
                </div>
                <div class="polygonWrapper">
                    <div class="polygonContainer">
                        <img src="~/Images/Polygon.png" class="img-fluid polygon" />
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="forumContainer" >
        <div class="forumContentContainer" id="forum">
            <header class="forumHeader mb-5">
                <div class="forumHeaderContainer mt-5">
                    <h2 class="documentationHeader">Форум</h2>
                </div>
            </header>
            <section class="forumImageDescriptionContainer mb-5">
                <div class="forumImageDescription container p-0 mb-5">
                    <div class="forumImageContainer">
                        <img src="~/Images/Forum.png" class="img-fluid" />
                    </div>
                    <div class="lineContainer">
                        <div class="verticalLine"></div>
                    </div>
                    <div class="forumDescriptionContainer">
                        <p class="lead text-light mx-5 mt-5 forumDescription">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
                            deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="forumImageDescription container p-0">
                    <div class="forumImageContainer">
                        <img src="~/Images/ForumQuestion.png" class="img-fluid" />
                    </div>
                    <div class="lineContainer">
                        <div class="verticalLine"></div>
                    </div>
                    <div class="forumDescriptionContainer">
                        <p class="lead text-light mx-5 mt-5 forumDescription">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </section>
</body>

