@model Onyx17.ViewModels.LanguageViewModel
@{
    ViewData["Title"] = "Редактиране";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Documentation/CreateStyles.css" />
</head>
<body>
    <div class="container mt-5 editContainer">
        <h1 class="fs-1 mb-5 editDocHeading">Редактиране на документация</h1>

        <form method="post" asp-action="Edit" asp-route-languageId="@ViewBag.LanguageId" enctype="multipart/form-data" class="documentationForm">
            <input type="hidden" asp-for="ImageData" />
            <input type="hidden" asp-for="ImageMimeType" />

            @if (Model.ImageData != null && Model.ImageMimeType != null)
            {
                <div class="mb-4 currentImageContainer">
                    <label class="form-label fs-3 text-light">Текущо изображение</label>
                    <br />
                    <img src="data:@Model.ImageMimeType;base64,@Convert.ToBase64String(Model.ImageData)"
                         alt="Current Image"
                         style="max-width: 200px; max-height: 200px;" />
                </div>
            }

            <div class="mb-4">
                <label asp-for="ImageFile" class="form-label fs-3 text-light">Ново изображение</label>
                <input asp-for="ImageFile" class="form-control" type="file" />
            </div>
            <div class="mb-4">
                <label asp-for="Name" class="form-label fs-3 text-light">Име</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="mb-3 documentationFormButtons mt-5 mb-5">
                <button type="submit" class="btn btn-lg btn-submit">Редактирай</button>
            </div>
            <div class="mb-3 documentationFormButtons">
                <a asp-action="Index" asp-controller="Documentation" class="btn btn-lg btn-back">Назад</a>
            </div>
        </form>
    </div>

</body>
