body {
    margin: 0;
    width: 100%;
    background: linear-gradient(45deg, #42AFAF, #000) !important;
    background-size: 100% 100%;
}
.navMenu{
    background-color: white;
    border-radius: 10px;
}
.manageProfilePicture {
    width: 260px;
    height: auto;
    max-height: 260px;
    min-height: 200px;
    border-radius: 20px;
}
textarea{
    height: 120px !important;
    min-height: 120px !important;
    max-height: 120px !important;
}
.currentImageContainer{
    display: flex;
    justify-content: center;
}
.update-profile-button-container{
    display: flex;
    justify-content: center;
}