@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Потвърждаване на имейл";
}

<h1 class="fs-1 text-light mt-5 mb-5">Потвърждаване на имейл</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
