@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<head>
    <link href="~/css/Register/RegisterStyles.css" rel="stylesheet"/>
</head>
<body>
    <h1 class="text-light fs-1 mt-5">Регистрация</h1>
    <div class="row">
        <div class="col-12">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ProfileImage" type="file" class="form-control" aria-required="true" />
                    <label asp-for="Input.ProfileImage">Профилна снимка</label>
                    <span asp-validation-for="Input.ProfileImage" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Name" class="form-control" aria-required="true" />
                    <label asp-for="Input.Name">Име</label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <textarea asp-for="Input.Description" class="form-control" aria-required="true"></textarea>
                    <label asp-for="Input.Description">Описание</label>
                    <span asp-validation-for="Input.Description" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Имейл</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="******" />
                    <label asp-for="Input.Password">Парола</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="******" />
                    <label asp-for="Input.ConfirmPassword">Потвърждаване на парола</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="registerBtnContainer mt-5">
                    <button id="registerSubmit" type="submit" class="registerSubmit">Регистрация</button>
                </div>
            </form>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
