body {
    margin: 0;
    width: 100%;
    background: linear-gradient(45deg, #42AFAF, #000) !important;
    background-size: 100% 100%;
}
.quizQuestionsContainer{
    margin-bottom: 10vh;
}
.gridGroup {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-left: 5px solid #70B6B6;
    padding-left: 10px;
    align-items: center;
}
.gridGroup label {
    margin-bottom: 0;
    color: #70B6B6;
}
.quizQuestionsContainer input {
    font-size: 20px !important;
}
.quizQuestionButtonContainer{
    display: flex;
    justify-content: center;
}
.btn-submit {
    width: 200px;
}
.quizQuestionElement {
    background-color: #70B6B6;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    column-gap: 20px;
}
.questionText{
    grid-area: 1 / span 2;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 11px;
}
.questionAnswer {
    background-color: #024343;
    padding: 10px;
    border-radius: 10px;
}
.questionLetter {
    background-color: #70B6B6;
    padding: 0 10px;
    font-weight: bold;
    border-radius: 300px;
}
.questionRightAnswerSpan {
    font-weight: bold;
    color: #024343;
}