body {
    margin: 0;
    width: 100%;
    background: linear-gradient(180deg, #fff, #42AFAF, #000) !important;
    background-size: 100% 100%;
}
.quizForm {
    border: 6px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: #016E6E;
}
.quizFormButtons {
    display: grid;
    justify-content: center;
    grid-template-columns: 30%;
}
input {
    height: 50px;
    font-size: 25px !important;
}
textarea {
    font-size: 25px !important;
    max-height: 200px;
    min-height: 120px;
    height: 120px;
}
.createQuizHeading{
    text-align: center;
}