body {
    margin: 0;
    width: 100%;
    background: linear-gradient(45deg, #42AFAF, #000) !important;
    background-size: 100% 100%;
}
input{
    height: 50px;
    font-size: 22px !important;
}
textarea {
    font-size: 22px !important;
    height: 80px;
    max-height: 200px;
}
.chapterContainer {
    width: 100%;
    border: 5px solid white;
    border-radius: 10px;
}
.chapterNameContainer {
    width: 50%;
    border: 5px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-collapse: collapse;
    border-bottom-right-radius: 20px;
    background-color: #70B6B6;
}
.chapterOpenContainer{
    display: flex;
    justify-content: center;
}
.chapterOpen{
    width: 300px;
}
.chaptersContainer{
    margin-bottom: 10vh;
}
.iframeContainer{
    margin-bottom: 5vh;
    display: flex;
    gap: 20px;
}
.articleBack{
    align-self: flex-start;
    margin-left: -100px;
}
.iframeArticle {
    width: 100%;
    height: 900px;
    border: none;
    border-radius: 10px;
}