@* @model QuizResult; *@
@{
    ViewData["Title"] = "Резултат от теста";
}

<head>
    <link href="~/css/QuizResult/QuizResultStyles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Тестът приключи</h1>
        <p>Резултат: @ViewBag.Correct / @ViewBag.Total</p>
    </header>
    <section>
        <img src="~/Images/award.png" class="img-fluid awardImage"/>
    </section>
    <section>
        <a class="btn btn-lg btn-secondary" asp-action="StartTest" asp-controller="QuizQuestion" asp-route-quizId="@ViewBag.QuizId">Започни нов</a>
        <a class="btn btn-lg btn-secondary" asp-action="Index" asp-controller="Quiz">Изход</a>
    </section>
</body>