@model Onyx17.ViewModels.QuizViewModel;
@{
    ViewData["Title"] = "Създаване";
}

<head>
    <link rel="stylesheet" href="~/css/Quiz/CreateStyles.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1 class="mt-5 mb-5 createQuizHeading">Създаване на тест</h1>
    <div class="quizContainer">
        <form method="post" asp-action="Create" asp-controller="Quiz" enctype="multipart/form-data" class="quizForm">
            <div class="mb-3">
                <label asp-for="ImageFile" class="form-label fs-3 text-light">Изображение</label>
                <input asp-for="ImageFile" class="form-control" type="file"/>
            </div>
            <div class="mb-3">
                <label asp-for="Title" class="form-label fs-3 text-light">Заглавие</label>
                <input asp-for="Title" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label fs-3 text-light">Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="mb-3 quizFormButtons mt-5 mb-5">
                <button type="submit" class="btn btn-lg btn-submit">Създай</button>
            </div>
            <div class="mb-3 quizFormButtons">
                <a asp-action="Index" asp-controller="Quiz" class="btn btn-lg btn-back">Назад</a>
            </div>
        </form>
    </div>
</body>