@model IEnumerable<QuizQuestion>
@{
    ViewData["Title"] = "Въпроси";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Quiz/QuizStyles.css" />
</head>
<body>
    <h1 class="mt-5 text-light">Въпроси за теста</h1>
</body>